/* FORMATAÇÕES GERAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #b6ccd7;
    text-decoration: none;    
    
    
}

html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(90deg,#1b1b25, #5c5c84);
    font-size: 100%;           
}

body::-webkit-scrollbar {
    width: 15px
} 
  
body::-webkit-scrollbar-thumb {   
background-color: #e34a21; 
border-radius: 10px;  
}

body::-webkit-scrollbar-track {
    background: #5c5c84;
    border-radius: 10px;
  } 

  body::-webkit-scrollbar-track-piece{
    background: #5c5c84;
    
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #c2401c; 
}

body::-webkit-scrollbar-corner {
    border-radius: 20px;
}

/* FONTES 

font-family: 'Almarai', sans-serif; - TITULOS
font-family: 'Roboto', sans-serif; - 100/300/400/700 TEXTOS

*/

@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Roboto:wght@100;300;400;700&display=swap');


/* CORES 
#5c5c84 - primaria
#b6ccd7 - secundaria
#e34a21 - destaque
*/


/*ANIMAÇÕES*/

@keyframes animacao-blink {
    from {
        border-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-color: transparent;
    }
}

@keyframes animacao-digitar {
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
    
}

@keyframes fadeIn {
    from{ opacity: 0;
    }
    to{ opacity: 1; 
    }
}

.fadeIn {
    animation: fadeIn 2s linear
}


/* CABEÇALHO */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: url(../img/bg-x2.png);
        
}

header img {
    width: 70px;
    margin-left: 10px;
}

.menu  {
    display: flex; 
    text-align: center;
    padding-top: 20px;  
}

.menu li {
    display: inline-block;
}


.menu a {
    margin: 20px;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;  
    text-decoration: none;
    color: #b6ccd7;
}

.menu  a:hover, .menu.active a {
    font-size: 22px;
    transition: 0.3s all;
    color: #e34a21;
}


/* CONTEUDO PRINCIPAL */

/*LANDING PAGE*/

main {
    border-top: 0.5px solid  #7f7f9bc7;
}

#principal-apr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    
}

.principal-apr-conteudo {
    display: flex;   
    flex-direction: column;
}

#principal-apr h2 {
    font-family: 'Almarai', sans-serif;
    font-size: 60px;
    animation: animacao-blink 1s infinite, animacao-digitar 2s steps(30) 1s normal both;
    border-right: 1px solid rgba(255, 255, 255, 0.765);
    white-space: nowrap;
    overflow: hidden;
}

#principal-apr p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    width: 400px;
    text-align: justify;
}

#principal-apr button {
    width: 70px;
    height: 40px;
    background-color: #e34a21;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    
}

#principal-apr img {
    width: 25%; 
}

/*SOBRE MIM*/

#principal-sm {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    background: url(../img/bg-x2.png);

}


.principal-sm-conteudo {
    display: flex;
    flex-direction: column;  
}

.principal-sm-conteudo p {
    width: 500px;
    text-align: justify;
}

.principal-sm-img {
    width: 25%;
}

/*PROJETOS IMAGENS*/

.principal-pj {
    margin-top: 50px;
    text-align: center;
}


.thumbnail img {
    width: 40%;
    margin-bottom: 10px;
  }

/*CONTATO*/

#principal-ct {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    height: 150px;    
    background: url(../img/bg-x2.png);
   

}

.principal-ct-conteudo {
    display: flex;
    gap: 100px;
         
}

.principal-ct-conteudo img{
        width: 50px;
        justify-content: space-around;   
    }

    .cont {
       font-size: 40px;
       text-align: center;
        
    }
    .mini-avatar {
        width: 100px;
        position: relative;
        bottom: 29px;
        padding-right: 10px;        
    }
    
    /* RODAPÉ */

#rodape {
    border-top: 1px solid  #7f7f9bc7 !important;
    background: url(../img/bg-x2.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

#rodape h5 {
    padding-left: 10px;
    padding-top: 10px;
}

.rodape-btn {
    padding-right: 10px;
}

.logo-k4e {
   width: 70px;
    
}

.volta-topo {
    width: 25px;
   
}

